@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mi: MISans;
    --background: 0 0% 100%;
    --foreground: 0 0% 3%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3%;
    --primary: 0 0% 3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 233 10% 95%;
    --muted-foreground: 215.4 0% 46.9%;
    --accent: 233 10% 95%;
    --accent-foreground: 222.2 10% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 3%;
    --radius: 0.62rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply items-center justify-center;
  }
}

@layer components {
  .section-mark-title {
    @apply relative inline-block;
  }

  .section-mark-title::before {
    @apply absolute -left-20 top-1/2 z-0 hidden -translate-y-1/2 text-zinc-400 md:block;
    content: "///";
    font-size: 1em;
  }
}
